<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard | Hyper - Responsive Bootstrap 5 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" />
    <script src="/assets/js/hyper-config.js"></script>
    <link href="/assets/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="wrapper">
      <%- include('../partials/_head') %>
      <%- include('../partials/_sidebar') %>

      <div class="content-page">
        <div class="content">
          <div class="container-fluid">
            <form action="/paket/store" method="POST">
              <div class="mb-3">
                <label class="form-label" for="nama_paket">Nama Paket</label>
                <input type="text" class="form-control" id="nama_paket" name="nama_paket" placeholder="Nama Paket" required />
              </div>
              <div class="mb-3">
                <label class="form-label" for="deskripsi">Deskripsi</label>
                <input type="text" class="form-control" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required />
              </div>
              <div class="mb-3">
                <label class="form-label" for="harga">Harga</label>
                <input type="number" class="form-control" id="harga" name="harga" placeholder="Harga" required />
              </div>
              
              <div class="mb-3">
                <label for="id_wisata" class="form-label">Wisata:</label>
                <select name="id_wisata" id="id_wisata" class="form-select" required>
                    <option value="" disabled selected>Pilih wisata</option>
                    <% data_wisata.forEach(wisata => { %>
                        <option value="<%= wisata.id_wisata %>"><%= wisata.nama %></option>
                    <% }); %>
                </select>
            </div>

              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/js/pages/demo.dashboard.js"></script>
    <script src="/assets/js/app.min.js"></script>
  </body>
</html>
